<footer id="footer">

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p>&copy; 2017 OUTPOST
          </p>
        </div>
        <div class="col-sm-4">
          <p>&copy; 2016 Oxygen Theme.</p>
        </div>
        <div class="col-sm-4">
          <p class="pull-right">Crafted by
            <a href="http://designscrazed.org/">Allie</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>
