<footer id="footer">

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; 2017 OUTPOST
          </p>
        </div>
        <div class="col-sm-6">
          <p class="pull-right">Design by
            <a href="https://farm3.staticflickr.com/2833/34122904572_2754e03040_o.png">GUYAN</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>
